In [111]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import classification_report

In [112]:
# Load the dataset
df = pd.read_csv('breast-cancer-wisconsin.data.csv')

In [113]:
df[df.isna().any(axis=1)]
df.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [114]:
del df['Sample']
df['F6'] = df['F6'].replace('?', np.nan).astype(float)
df['F6'].fillna(value=np.round(df['F6'].mean(), 4), inplace=True)

In [115]:
# Converting 'Class' categorical
df['Class'] = df['Class'].astype('category')

In [116]:
X = df.drop('Class', axis=1).values
Y = df['Class']

In [117]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [118]:
# Implementing Decision Tree Classifier
dt = DecisionTreeClassifier(random_state=123)
dt.fit(X_train, Y_train)

# Predicting class for test set
Y_pred = dt.predict(X_test)

In [119]:
# Accuracy
accuracy = accuracy_score(Y_test, Y_pred)
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 0.94%

In [120]:
# classification report
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           2       0.96      0.95      0.95       130
           4       0.91      0.94      0.93        80

    accuracy                           0.94       210
   macro avg       0.94      0.94      0.94       210
weighted avg       0.94      0.94      0.94       210

In [122]:
# confusion matrix
print(confusion_matrix(Y_test, Y_pred))

[[123   7]
 [  5  75]]